*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    list-style: none;
}
p{
  color: #fff;
}

h1, h2, h3, h4,h5,h6{
  color: #fff;
}

.button_menu{
  filter: invert(1);
}

.contenedor_menu {
  background-color: #333;
  height: 100vh;
}
.contenedor_menu_mobile {
  background-color: #333
}

.acerca_de_mi_imagen img{
  display: block;
  width: 285px;
  height: 333px;
}

.acerca_de_mi_informacion ul li{
  color:#fff;
  list-style: disc;
}

.contenedor_contenido {
  overflow: hidden;
  background-image: url(../imagenes/fondohome.png);
  background-size: cover;
  height: 100vh;
}
.menu {
  color: aliceblue;
  display: flex;
  flex-direction: column;
gap: 20px;
width: 190px;
margin: 100px auto;
}
.menu a{
  color: aliceblue;
  text-decoration: none;
}

.menu li .boton_descargar{
  background-color: #cbf525;
  color: black;
  border-radius: 40px;
  display: inline-block;
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
align-items: center;
}

.redes_sociales {
  color: rgb(227, 235, 243);
  display: flex;
  gap: 20px;
  justify-content: center;
}
.redes_sociales a{
color: aliceblue;
}
.menu li .activo{
  color: #cbf525;
  text-decoration: underline;
}

.foto_perfil{
  text-align: right;
  margin: 50px 100px 0px 0px;
}

.foto_perfil img {
  width: 200px;
}

.herramientas_logos{
  color:aliceblue;
  display: flex;
  gap: 20px;
}

.herramientas_logos li img{
  width: 30px;
}

.informacion_perfil{
  margin:0px 100px 50px 50px;
}

